.user_name{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align:center;
    margin: 0 auto;
}
.user-img{
    border-radius:10px;
    margin-bottom:3px;
}
.follow_button{
    width:100%;
    max-width:250px;
}